### Initial modeling

In [2]:
import pandas as pd
import numpy as np

train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [2]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

Impute Age with MICE

In [3]:
train_mat = train.select_dtypes(include=['number']).as_matrix() #selecting quant vars from train and test and converting to mat
test_mat = test.select_dtypes(include=['number']).as_matrix()

In [4]:
from fancyimpute import MICE

mice = MICE(n_imputations=100,impute_type='col')

train_imputed = mice.complete(train_mat)
test_imputed = mice.complete(test_mat)

WARNING (theano.configdefaults): g++ not available, if using conda: `conda install m2w64-toolchain`
C:\Users\Gwendolyn Fernandez\AppData\Local\Continuum\anaconda3\lib\site-packages\theano\configdefaults.py:560: UserWarning: DeprecationWarning: there is no c++ compiler.This is deprecated and with Theano 0.11 a c++ compiler will be mandatory
  warnings.warn("DeprecationWarning: there is no c++ compiler."
WARNING (theano.configdefaults): g++ not detected ! Theano will be unable to execute optimized C-implementations (for both CPU and GPU) and will default to Python implementations. Performance will be severely degraded. To remove this warning, set Theano flags cxx to an empty string.
WARNING (theano.tensor.blas): Using NumPy C-API based implementation for BLAS functions.

[MICE] Completing matrix with shape (891, 7)
[MICE] Starting imputation round 1/110, elapsed time 0.000
[MICE] Starting imputation round 2/110, elapsed time 0.006
[MICE] Starting imputation round 3/110, elapsed time 0.006
[MICE] Starting imputation round 4/110, elapsed time 0.006
[MICE] Starting imputation round 5/110, elapsed time 0.007
[MICE] Starting imputation round 6/110, elapsed time 0.008
[MICE] Starting imputation round 7/110, elapsed time 0.008
[MICE] Starting imputation round 8/110, elapsed time 0.009
[MICE] Starting imputation round 9/110, elapsed time 0.010
[MICE] Starting imputation round 10/110, elapsed time 0.011
[MICE] Starting imputation round 11/110, elapsed time 0.012
[MICE] Starting imputation round 12/110, elapsed time 0.013
[MICE] Starting imputation round 13/110, elapsed time 0.014
[MICE] Starting imputation round 14/110, elapsed time 0.015
[MICE] Starting imputation round 15/110, elapsed time 0.016
[MICE] Starting imputation round 16/110, elapsed time 0.016
[MICE] Starting imputation round 17/110, elapsed time 0.017
[MICE] Starting imputation round 18/110, elapsed time 0.018
[MICE] Starting imputation round 19/110, elapsed time 0.019
[MICE] Starting imputation round 20/110, elapsed time 0.020
[MICE] Starting imputation round 21/110, elapsed time 0.021
[MICE] Starting imputation round 22/110, elapsed time 0.021
[MICE] Starting imputation round 23/110, elapsed time 0.022
[MICE] Starting imputation round 24/110, elapsed time 0.023
[MICE] Starting imputation round 25/110, elapsed time 0.024
[MICE] Starting imputation round 26/110, elapsed time 0.024
[MICE] Starting imputation round 27/110, elapsed time 0.025
[MICE] Starting imputation round 28/110, elapsed time 0.026
[MICE] Starting imputation round 29/110, elapsed time 0.026
[MICE] Starting imputation round 30/110, elapsed time 0.027
[MICE] Starting imputation round 31/110, elapsed time 0.028
[MICE] Starting imputation round 32/110, elapsed time 0.028
[MICE] Starting imputation round 33/110, elapsed time 0.029
[MICE] Starting imputation round 34/110, elapsed time 0.029
[MICE] Starting imputation round 35/110, elapsed time 0.030
[MICE] Starting imputation round 36/110, elapsed time 0.030
[MICE] Starting imputation round 37/110, elapsed time 0.031
[MICE] Starting imputation round 38/110, elapsed time 0.032
[MICE] Starting imputation round 39/110, elapsed time 0.032
[MICE] Starting imputation round 40/110, elapsed time 0.033
[MICE] Starting imputation round 41/110, elapsed time 0.033
[MICE] Starting imputation round 42/110, elapsed time 0.034
[MICE] Starting imputation round 43/110, elapsed time 0.034
[MICE] Starting imputation round 44/110, elapsed time 0.035
[MICE] Starting imputation round 45/110, elapsed time 0.035
[MICE] Starting imputation round 46/110, elapsed time 0.036
[MICE] Starting imputation round 47/110, elapsed time 0.036
[MICE] Starting imputation round 48/110, elapsed time 0.037
[MICE] Starting imputation round 49/110, elapsed time 0.037
[MICE] Starting imputation round 50/110, elapsed time 0.038
[MICE] Starting imputation round 51/110, elapsed time 0.039
[MICE] Starting imputation round 52/110, elapsed time 0.040
[MICE] Starting imputation round 53/110, elapsed time 0.041
[MICE] Starting imputation round 54/110, elapsed time 0.042
[MICE] Starting imputation round 55/110, elapsed time 0.043
[MICE] Starting imputation round 56/110, elapsed time 0.044
[MICE] Starting imputation round 57/110, elapsed time 0.045
[MICE] Starting imputation round 58/110, elapsed time 0.046
[MICE] Starting imputation round 59/110, elapsed time 0.046
[MICE] Starting imputation round 60/110, elapsed time 0.047
[MICE] Starting imputation round 61/110, elapsed time 0.048
[MICE] Starting imputation round 62/110, elapsed time 0.049
[MICE] Starting imputation round 63/110, elapsed time 0.049
[MICE] Starting imputation round 64/110, elapsed time 0.050
[MICE] Starting imputation round 65/110, elapsed time 0.051
[MICE] Starting imputation round 66/110, elapsed time 0.052
[MICE] Starting imputation round 67/110, elapsed time 0.053
[MICE] Starting imputation round 68/110, elapsed time 0.054
[MICE] Starting imputation round 69/110, elapsed time 0.055
[MICE] Starting imputation round 70/110, elapsed time 0.056
[MICE] Starting imputation round 71/110, elapsed time 0.057
[MICE] Starting imputation round 72/110, elapsed time 0.058
[MICE] Starting imputation round 73/110, elapsed time 0.059
[MICE] Starting imputation round 74/110, elapsed time 0.059
[MICE] Starting imputation round 75/110, elapsed time 0.060
[MICE] Starting imputation round 76/110, elapsed time 0.061
[MICE] Starting imputation round 77/110, elapsed time 0.062
[MICE] Starting imputation round 78/110, elapsed time 0.063
[MICE] Starting imputation round 79/110, elapsed time 0.063
[MICE] Starting imputation round 80/110, elapsed time 0.064
[MICE] Starting imputation round 81/110, elapsed time 0.065
[MICE] Starting imputation round 82/110, elapsed time 0.066
[MICE] Starting imputation round 83/110, elapsed time 0.067
[MICE] Starting imputation round 84/110, elapsed time 0.068
[MICE] Starting imputation round 85/110, elapsed time 0.069
[MICE] Starting imputation round 86/110, elapsed time 0.070
[MICE] Starting imputation round 87/110, elapsed time 0.070
[MICE] Starting imputation round 88/110, elapsed time 0.071
[MICE] Starting imputation round 89/110, elapsed time 0.072
[MICE] Starting imputation round 90/110, elapsed time 0.073
[MICE] Starting imputation round 91/110, elapsed time 0.074
[MICE] Starting imputation round 92/110, elapsed time 0.075
[MICE] Starting imputation round 93/110, elapsed time 0.076
[MICE] Starting imputation round 94/110, elapsed time 0.077
[MICE] Starting imputation round 95/110, elapsed time 0.078
[MICE] Starting imputation round 96/110, elapsed time 0.078
[MICE] Starting imputation round 97/110, elapsed time 0.079
[MICE] Starting imputation round 98/110, elapsed time 0.080
[MICE] Starting imputation round 99/110, elapsed time 0.081
[MICE] Starting imputation round 100/110, elapsed time 0.082
[MICE] Starting imputation round 101/110, elapsed time 0.082
[MICE] Starting imputation round 102/110, elapsed time 0.083
[MICE] Starting imputation round 103/110, elapsed time 0.084
[MICE] Starting imputation round 104/110, elapsed time 0.085
[MICE] Starting imputation round 105/110, elapsed time 0.086
[MICE] Starting imputation round 106/110, elapsed time 0.086
[MICE] Starting imputation round 107/110, elapsed time 0.087
[MICE] Starting imputation round 108/110, elapsed time 0.088
[MICE] Starting imputation round 109/110, elapsed time 0.089
[MICE] Starting imputation round 110/110, elapsed time 0.089
[MICE] Completing matrix with shape (418, 6)
[MICE] Starting imputation round 1/110, elapsed time 0.000
[MICE] Starting imputation round 2/110, elapsed time 0.001
[MICE] Starting imputation round 3/110, elapsed time 0.002
[MICE] Starting imputation round 4/110, elapsed time 0.003
[MICE] Starting imputation round 5/110, elapsed time 0.004
[MICE] Starting imputation round 6/110, elapsed time 0.005
[MICE] Starting imputation round 7/110, elapsed time 0.005
[MICE] Starting imputation round 8/110, elapsed time 0.006
[MICE] Starting imputation round 9/110, elapsed time 0.007
[MICE] Starting imputation round 10/110, elapsed time 0.007
[MICE] Starting imputation round 11/110, elapsed time 0.008
[MICE] Starting imputation round 12/110, elapsed time 0.009
[MICE] Starting imputation round 13/110, elapsed time 0.010
[MICE] Starting imputation round 14/110, elapsed time 0.010
[MICE] Starting imputation round 15/110, elapsed time 0.011
[MICE] Starting imputation round 16/110, elapsed time 0.012
[MICE] Starting imputation round 17/110, elapsed time 0.013
[MICE] Starting imputation round 18/110, elapsed time 0.014
[MICE] Starting imputation round 19/110, elapsed time 0.015
[MICE] Starting imputation round 20/110, elapsed time 0.016
[MICE] Starting imputation round 21/110, elapsed time 0.017
[MICE] Starting imputation round 22/110, elapsed time 0.018
[MICE] Starting imputation round 23/110, elapsed time 0.018
[MICE] Starting imputation round 24/110, elapsed time 0.019
[MICE] Starting imputation round 25/110, elapsed time 0.020
[MICE] Starting imputation round 26/110, elapsed time 0.020
[MICE] Starting imputation round 27/110, elapsed time 0.021
[MICE] Starting imputation round 28/110, elapsed time 0.022
[MICE] Starting imputation round 29/110, elapsed time 0.022
[MICE] Starting imputation round 30/110, elapsed time 0.023
[MICE] Starting imputation round 31/110, elapsed time 0.023
[MICE] Starting imputation round 32/110, elapsed time 0.025
[MICE] Starting imputation round 33/110, elapsed time 0.025
[MICE] Starting imputation round 34/110, elapsed time 0.026
[MICE] Starting imputation round 35/110, elapsed time 0.027
[MICE] Starting imputation round 36/110, elapsed time 0.028
[MICE] Starting imputation round 37/110, elapsed time 0.029
[MICE] Starting imputation round 38/110, elapsed time 0.030
[MICE] Starting imputation round 39/110, elapsed time 0.031
[MICE] Starting imputation round 40/110, elapsed time 0.032
[MICE] Starting imputation round 41/110, elapsed time 0.033
[MICE] Starting imputation round 42/110, elapsed time 0.034
[MICE] Starting imputation round 43/110, elapsed time 0.034
[MICE] Starting imputation round 44/110, elapsed time 0.035
[MICE] Starting imputation round 45/110, elapsed time 0.036
[MICE] Starting imputation round 46/110, elapsed time 0.036
[MICE] Starting imputation round 47/110, elapsed time 0.037
[MICE] Starting imputation round 48/110, elapsed time 0.038
[MICE] Starting imputation round 49/110, elapsed time 0.038
[MICE] Starting imputation round 50/110, elapsed time 0.039
[MICE] Starting imputation round 51/110, elapsed time 0.040
[MICE] Starting imputation round 52/110, elapsed time 0.040
[MICE] Starting imputation round 53/110, elapsed time 0.041
[MICE] Starting imputation round 54/110, elapsed time 0.041
[MICE] Starting imputation round 55/110, elapsed time 0.042
[MICE] Starting imputation round 56/110, elapsed time 0.043
[MICE] Starting imputation round 57/110, elapsed time 0.044
[MICE] Starting imputation round 58/110, elapsed time 0.044
[MICE] Starting imputation round 59/110, elapsed time 0.045
[MICE] Starting imputation round 60/110, elapsed time 0.045
[MICE] Starting imputation round 61/110, elapsed time 0.046
[MICE] Starting imputation round 62/110, elapsed time 0.046
[MICE] Starting imputation round 63/110, elapsed time 0.047
[MICE] Starting imputation round 64/110, elapsed time 0.048
[MICE] Starting imputation round 65/110, elapsed time 0.048
[MICE] Starting imputation round 66/110, elapsed time 0.049
[MICE] Starting imputation round 67/110, elapsed time 0.049
[MICE] Starting imputation round 68/110, elapsed time 0.050
[MICE] Starting imputation round 69/110, elapsed time 0.051
[MICE] Starting imputation round 70/110, elapsed time 0.051
[MICE] Starting imputation round 71/110, elapsed time 0.052
[MICE] Starting imputation round 72/110, elapsed time 0.052
[MICE] Starting imputation round 73/110, elapsed time 0.053
[MICE] Starting imputation round 74/110, elapsed time 0.054
[MICE] Starting imputation round 75/110, elapsed time 0.054
[MICE] Starting imputation round 76/110, elapsed time 0.055
[MICE] Starting imputation round 77/110, elapsed time 0.056
[MICE] Starting imputation round 78/110, elapsed time 0.057
[MICE] Starting imputation round 79/110, elapsed time 0.057
[MICE] Starting imputation round 80/110, elapsed time 0.058
[MICE] Starting imputation round 81/110, elapsed time 0.060
[MICE] Starting imputation round 82/110, elapsed time 0.061
[MICE] Starting imputation round 83/110, elapsed time 0.062
[MICE] Starting imputation round 84/110, elapsed time 0.063
[MICE] Starting imputation round 85/110, elapsed time 0.065
[MICE] Starting imputation round 86/110, elapsed time 0.066
[MICE] Starting imputation round 87/110, elapsed time 0.067
[MICE] Starting imputation round 88/110, elapsed time 0.068
[MICE] Starting imputation round 89/110, elapsed time 0.070
[MICE] Starting imputation round 90/110, elapsed time 0.071
[MICE] Starting imputation round 91/110, elapsed time 0.072
[MICE] Starting imputation round 92/110, elapsed time 0.074
[MICE] Starting imputation round 93/110, elapsed time 0.075
[MICE] Starting imputation round 94/110, elapsed time 0.076
[MICE] Starting imputation round 95/110, elapsed time 0.077
[MICE] Starting imputation round 96/110, elapsed time 0.079
[MICE] Starting imputation round 97/110, elapsed time 0.080
[MICE] Starting imputation round 98/110, elapsed time 0.081
[MICE] Starting imputation round 99/110, elapsed time 0.082
[MICE] Starting imputation round 100/110, elapsed time 0.084
[MICE] Starting imputation round 101/110, elapsed time 0.085
[MICE] Starting imputation round 102/110, elapsed time 0.086
[MICE] Starting imputation round 103/110, elapsed time 0.087
[MICE] Starting imputation round 104/110, elapsed time 0.089
[MICE] Starting imputation round 105/110, elapsed time 0.090
[MICE] Starting imputation round 106/110, elapsed time 0.090
[MICE] Starting imputation round 107/110, elapsed time 0.091
[MICE] Starting imputation round 108/110, elapsed time 0.092
[MICE] Starting imputation round 109/110, elapsed time 0.093
[MICE] Starting imputation round 110/110, elapsed time 0.094

In [5]:
train_cols = train[['PassengerId','Survived','Pclass','Age','SibSp','Parch','Fare']].columns
test_cols = test[['PassengerId','Pclass','Age','SibSp','Parch','Fare']].columns

train_imputed = pd.DataFrame(train_imputed, columns=train_cols) #converting mice output back to pd dataframe
test_imputed = pd.DataFrame(test_imputed, columns=test_cols)

In [6]:
train_imputed['Age'].isnull().value_counts() #all missing values successfully imputed!

False    891
Name: Age, dtype: int64

In [7]:
print('Pre-Imputation Age Mean:',train['Age'].mean())
print('Post-Imputation Age Mean:',train_imputed['Age'].mean())
print('Pre-Imputation SD:',train['Age'].std())
print('Post-Imputation SD:',train_imputed['Age'].std())

Pre-Imputation Age Mean: 29.69911764705882
Post-Imputation Age Mean: 29.687388793380368
Pre-Imputation SD: 14.526497332334044
Post-Imputation SD: 13.026100222892355

Add categoricals back to dataframes with imputed age - * except for cabin *

In [8]:
train.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [9]:
train_imputed['Name'] = train['Name']
train_imputed['Sex'] = train['Sex']
train_imputed['Ticket'] = train['Ticket']
train_imputed['Embarked'] = train['Embarked']

In [10]:
train_imputed.head()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare,Name,Sex,Ticket,Embarked
0,1.0,0.0,3.0,22.0,1.0,0.0,7.2500,"Braund, Mr. Owen Harris",male,A/5 21171,S
1,2.0,1.0,1.0,38.0,1.0,0.0,71.2833,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,PC 17599,C
2,3.0,1.0,3.0,26.0,0.0,0.0,7.9250,"Heikkinen, Miss. Laina",female,STON/O2. 3101282,S
3,4.0,1.0,1.0,35.0,1.0,0.0,53.1000,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,113803,S
4,5.0,0.0,3.0,35.0,0.0,0.0,8.0500,"Allen, Mr. William Henry",male,373450,S

In [11]:
test_imputed['Name'] = test['Name']
test_imputed['Sex'] = test['Sex']
test_imputed['Ticket'] = test['Ticket']
test_imputed['Embarked'] = test['Embarked']

In [12]:
test_imputed.head()

,PassengerId,Pclass,Age,SibSp,Parch,Fare,Name,Sex,Ticket,Embarked
0,892.0,3.0,34.5,0.0,0.0,7.8292,"Kelly, Mr. James",male,330911,Q
1,893.0,3.0,47.0,1.0,0.0,7.0000,"Wilkes, Mrs. James (Ellen Needs)",female,363272,S
2,894.0,2.0,62.0,0.0,0.0,9.6875,"Myles, Mr. Thomas Francis",male,240276,Q
3,895.0,3.0,27.0,0.0,0.0,8.6625,"Wirz, Mr. Albert",male,315154,S
4,896.0,3.0,22.0,1.0,1.0,12.2875,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,3101298,S

Label encoding categorical variables: Name, Sex, Ticket, Embarked

In [14]:
train_x = train_imputed.copy()
train_x = train_x.drop(['Survived'], axis=1)
train_x = train_x.drop(['PassengerId'], axis=1)

In [15]:
test = test_imputed.copy()
test = test.drop(['PassengerId'],axis=1)

In [16]:
print(train_x.shape)
print(test.shape)

(891, 9)
(418, 9)

In [17]:
ntrain = train_x.shape[0]
ntest = test.shape[0]

In [18]:
all_data = pd.concat([train_x,test]).reset_index(drop=True)
all_data.shape

(1309, 9)

In [19]:
cols = ('Name','Sex','Ticket','Embarked')

In [20]:
from sklearn.preprocessing import LabelEncoder

label_df = all_data.copy()

for c in cols:
    if label_df[c].dtype == 'object':
        le = LabelEncoder()
        label_df[c] = le.fit_transform(label_df[c].astype(str))

In [21]:
label_df.head()

   Pclass   Age  SibSp  Parch     Fare  Name  Sex  Ticket  Embarked
0     3.0  22.0    1.0    0.0   7.2500   155    1     720         2
1     1.0  38.0    1.0    0.0  71.2833   286    0     816         0
2     3.0  26.0    0.0    0.0   7.9250   523    0     914         2
3     1.0  35.0    1.0    0.0  53.1000   422    0      65         2
4     3.0  35.0    0.0    0.0   8.0500    22    1     649         2